/* Style for search bar */
.searchBar {
    position: relative;
    width: 100%;
    display: flex;
  }
  
  .searchBar input[type="search"] {
    /* Adjusted width to accommodate the show button */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
  }
  
  .airport-search {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
  }
  
  /* Style for show button */
  #show-all-airports {
    /* width: auto;
    height: auto;
    position: relative;
    top: 0;
    right: 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
      margin-left: 10px;
    display: flex;
    align-items: center;
    font-size: small; */
    width: 15%;
    background-color: #365cf4;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    /* border-radius: 5px; */
    cursor: pointer;
    margin-left: 10px;
    text-align: center;
  }
  
  /* Style for airports list */
  .airports {
    position: relative;
    top: 5; /* Positioned just below the search input */
    left: 0;
    z-index: 0; /* To ensure it appears above other elements */
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px #ccc;
    border-radius: 5px;
  }
  
  .airport {
    padding: 10px;
    cursor: pointer;
  }
  
  .airport:hover {
    background-color: #f0f0f0;
  }
  
  