
.searchBar {
    position: relative;
    width: 100%;
    display: flex;
  }
  
  .searchBar input[type="search"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
  }
  
  .airport-search {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
  }
  
  #show-all-airports {
    width: 15%;
    background-color: #365cf4;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    text-align: center;
  }
  
  .airports {
    position: relative;
    top: 5; 
    left: 0;
    z-index: 0; 
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px #ccc;
    border-radius: 5px;
  }
  
  .airport {
    padding: 10px;
    cursor: pointer;
  }
  
  .airport:hover {
    background-color: #f0f0f0;
  }
  
  