
.form-control {
    margin-bottom: 20px;
   
  }
  
  .label {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .label-text {
    font-weight: bold;
    color: #333;
  }
  
  input[type="text"], input[type="date"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius:10px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .create-button {
    width: 100%;
    background-color: #365cf4;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .journey-options {
    display: flex;
    margin-bottom: 20px;
  }
  
  .journey-option {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
  }
  
  .journey-option.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  
  .airports-info {
    display: grid;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .airports-info > div {
    flex: 1;
  }
  
  .date-info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .date-info > div {
    flex: 1;
  }
  
  .passengers-info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .passengers-info > div {
    flex: 1;
  }
  
  .travel-class-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .travel-class-info > div {
    flex: 1;
  }
  
  .travel-class-info select {
    width: 80%;
  }
  
.latest-booking-info{
  display: flex;
  justify-content: space-between;
}

.latest-booking {
  margin-top: 20px;
}

.close-latest-booking {
  width: 5%;
  background-color: #F44336;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;

}

h2{
  justify-content: center;
  margin-bottom: 10px;
}