#app {
  max-width: 500px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  display:flex;
  flex-direction: column;
  height: 100vh;
  
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}